<%- include ('./includes/head.ejs') %>
<div class="text-center">
  <h4 class="m-5">
    صفحه مورد نظر یافت نشد
  </h4>

  <a href="/" class="btn btn-outline-info">
    بازگشت به صفحه اصلی

    <span class="fa fa-heart text-danger"></span>
  </a>
</div>
<%- include ('./includes/footer.ejs') %>  